@import '../common/global.pcss';

.lecture {
	padding: 8px 0;
	
	a {
		text-decoration: none;
		color: #111;
		font-size: 1.2em;
	}
	&:hover {
		background: #d3d4ff;
	}
	.lecture-wrap {
		display: flex;
		.number {
			margin: 0 5px;
		}

		.title {
			margin: 0 5px;
		}

		.time {
			margin: 0 5px 0 auto;
		}
	}
}