@import './variables.css';

.menubar {
	background: $main-bg;
	font-size: 1rem;
	min-height: 4rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #9eaff6;
}

.content {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	justify-content: center;
}

.logo {
	margin-right: 1rem;
	a {
		text-decoration: none;
		.title {
			color: white;
			margin-left: 0.5rem;
			font-size: 1.2rem;
			@media(width>=45rem) {
				font-size: 1.5rem;
			}
		}
	}
}

.action {
	margin-left: auto;
}