@import '../components/common/global.css';

.cta-signup {
	$cta-bg: #ce4e15;
	font-size: 1rem;
	margin-top: 1.5rem;
	background: $cta-bg;
	color: white;
	border: none;
	padding: 5px 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		background: color($cta-bg lightness(40%))
	}

	@media(--medium){
		font-size: 2rem;
		margin-top: 2.5rem;
		padding: 15px 35px;
	}
}