@import "../common/global.pcss";

.overview {
	background: $main-bg;
	padding: 15px 0;
	color: white;

	h1 {
		margin-top: 0;
		text-align: center;
	}

	.description {
		padding: 0 20px;
	}

	p {
		font-size: 1.3em;
		margin-bottom: 0;
	}
}