@import '../common/global.pcss';

.hero {
	background: $main-bg;
	height: 12rem;
	display: flex;
	align-items: center;

	@media(--medium) {
		height: 20rem;
	}
}

.content {
	height: 100%;
	@mixin flex-center;
	flex-direction: column;

	h1 {
		color: white;
		margin: 0;
		text-align: center;
		font-size: 1.3rem;

		@media(--medium) {
			font-size: 2.5rem;
		}
	}
}