@import '../common/variables.css';

.hero {
	background: $main-bg;
	height: 12rem;
	display: flex;
	align-items: center;

	@media(width>=45rem) {
		height: 20rem;
	}
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		color: white;
		margin: 0;
		text-align: center;
		font-size: 1.3rem;

		@media(width>=45rem) {
			font-size: 2.5rem;
		}
	}
}