@import '../common/global.pcss';

.wrap {
	@mixin flex-middle;
	min-height: 100%;
	padding: 20px;

	font-size: 18px;

	label {
		display: block;
		font-weight: bold;
	}
}

.broadcast {
	width: 1200px;
}

.form-group {
	width: 100%;
	margin-bottom: 15px;
}

.field {
	width: 100%;
}

.button-wrap {
	display: flex;
	justify-content: center;
}

.submit {
	background: $main-color;
	font-size: $font-size;
	color: white;
	border: 2px solid $main-color;
	width: 120px;
}