.content {
	font-size: 1.2em;
	a {
		font-size: 1.4em;
	}
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}

.signup-message {
	background: #431ba9;
	
	.message {
		color: white;
		font-size: 1.2rem;
	}

	.button-wrap {

		.button {
			padding: 10px;
		}
	}
}