@import '../global.pcss';

.login-btn {
	background: none;
	padding: 3px 10px;
	color: white;
	border: 1px solid white;
	font-size: 0.9rem;

	&:hover {
		background: color($main-bg lightness(40%))
	}

	@media(--medium){
		padding: 5px 15px;
		font-size: 1rem;
	}
}