@import '../global.pcss';

.main-menu {
	background: $main-bg;
	font-size: 1rem;
	height: 2rem;
	@media (--medium) {
		height: 4rem;
	}
	display: flex;
	border-bottom: 1px solid #9eaff6;
}

.content {
	display: flex;
	padding: 0 1rem;
	align-items: center;
	height: 100%;
}

.logo {
	margin-right: 1rem;
	a {
		text-decoration: none;
		.title {
			color: white;
			margin-left: 0.5rem;
			font-size: 0.8rem;
			@media(--medium) {
				font-size: 1.5rem;
			}
		}
	}
}

.action {
	margin-left: auto;
}