@import "../common/global.pcss";

.hero {
	background: $main-bg;
	color: white;
	text-align: center;
	padding: 2rem 1rem;

	a {
		font-size: 1rem;
		color: white;
		background: #f26522;
		font-weight: bold;
		padding: 0.5rem 1.5rem;
		text-decoration: none;
		margin-top: 1.5rem;
	}
}

.benefits, .faq {
	margin: 1rem;

	&> h1 {
		text-align: center;
	}
}

.benefits {
	h2 {
		font-size: 1.5rem;
	}

	p {
		font-size: 1.2rem;
	}
	.benefit {

	}
}

.faq {
	.question {

	}
}